<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"> 
  <title>personalCenter</title>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./../css/bubble.css">
  <link rel="stylesheet" href="./../css/navigation.css">
  <link rel="stylesheet" href="./../css/pictureAndName.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="./../js/navigation.js"></script>
  <style>
   /*   div { border:1px solid black;} */
    /*防止打开模态框时页面抖动*/
	.modal-open{overflow-y: scroll;}
    body{ padding-right:1px!important;background-color:#f5f5f5;}
    .myPanel {cursor: pointer;width:18.54%; height:326px;text-align: center;padding:10px;margin-left:16px;margin-bottom:16px;float:left;background-color:white;}
   
    

    /* 相册组 */
    #albumPage .container{width:1275px;margin-top:-5px}
    .outerBorder{border:2px dashed #dedede;width:100%;height:100%;}
    .innerBorder{margin-top: 50%;font-size: 20px;}
    .coverPicture{height:65%;width:99.1%;margin-bottom:1.6%;border:1.5px solid #ededed;}
    .littlePicture{height:20%;width:32.34%;float:left;margin-right:1%;border:1.5px solid #ededed;}
    .albumEditButton{margin-top: 4%}
    .albumFoucusButton{margin-top: 4%}
    .albumCancelFoucusButton{margin-top: 4%}
    .albumCoverPicture{width:100%;height:100%;display:none}
    .albumLittlePicture{width:100%;height:100%;display:none}
    .maskOfPanel{position:absolute;height:81%;width:91%;background-color: black;opacity:0.4;display: none}
    .myPanel:hover .maskOfPanel{display:block;}
    .albumDescribeOfPanel{position:absolute;z-index:3;text-align: left;font-weight:normal;color:white;left:25px;top:50px;display:none}
    .myPanel:hover .albumDescribeOfPanel{display:block;}
    .albumTitleOfPanel{position:absolute;z-index:3;text-align: left;font-weight:bold;color:white;top:25px;left:25px;color:white}

    /* 添加相册模态框*/
     #addAlbum{margin-top:7%}
     /* 修改相册模态框*/
     #deleteAlbumButton{cursor: pointer; }
     #changeAlbumModal{margin-top:30px}
     #changeAlbumModal .modal-body{height:220px;}
     #changeAlbumModal .form-horizontal{width:520px;font-size:19px;}
     #changeAlbumModal label{font-weight:normal;}
     #deleteAlbumButton{float:left;font-size:20px;margin-left:40px;color:#616361}


  </style>
  <script type="text/javascript">
      $(document).ready(function(){
      	 /*上传图片*/
          $("#addAlbumButton").click(function(){ 
	           var formTemp = $('#addAlbumForm')[0];
	           var formDataTemp = new FormData(formTemp);
	           $.ajax({
					  url: "/album/addAlbum",
					  type: "POST",
					  data: formDataTemp,
					  processData: false,	
					  contentType: false ,
					  success: function(data){	
						  window.location.href="/picture/showPictureOfAlbum?id="+data;
	              }
		  		  });
          });  
      
      /*点击相册跳转到具体页面*/
      $('.maskOfPanel').click(function(){
    	    var albumId = $(this).attr('albumId');
    	    window.location.href="/picture/showPictureOfAlbum?id="+albumId;
      });
      /* 在相册组中，显示加载好的图片 */
      $('.albumCoverPicture').each(function(){
	    	  if($(this).attr('src')!=''){
	    		  $(this).css('display','block');
	    	  }; 
      });
      
      $('.albumLittlePicture').each(function(){
	    	  if($(this).attr('src')!=''){
	    		  $(this).css('display','block');
	    	  }; 
  		});
      
		/* 点击编辑按钮后，将相册信息加载到修改相册模态框中 */
      $(".albumEditButton").on("click",null,function(){
    	   var albumId=$(this).attr('albumId');
    	  	$("#changeAlbumModelHideId").val(albumId);
    	  	var albumTitle = $(this).attr('albumTitle');
    	  	if(!(typeof(albumTitle)=="undefined")){
    	  		$("#albumTitle").val(albumTitle);
    	  	}
    	  	var albumClassification = $(this).attr('albumClassification');
    	  	if(!(typeof(albumClassification)=="undefined")){
    	  		$("#albumClassification").val(albumClassification);
    	  	}
    	  	var albumDescribe = $(this).attr('albumDescribe');
    	  	if(!(typeof(albumDescribe)=="undefined")){
    	  		$("#albumDescribe").val(albumDescribe);
    	  	}
    		$('#changeAlbumModal').modal('show');
    	}); 
    	
		/* 在修改相册模态框中，按下确定按钮后，提交修改数据 */
		$('#changeAlbumButton').click(function(){
			     var formTemp = $('#changeAlbumForm')[0];
	           var formDataTemp = new FormData(formTemp);
	           $.ajax({
					  url: "/album/changeAlbum",
					  type: "POST",
					  data: formDataTemp,
					  processData: false,	
					  contentType: false ,
					  success: function(data){	
						  location.reload();
	              }
		  		  });
		});
		
		/* 删除相册 */
		$('#deleteAlbumButton').click(function(){
			  var albumId=$("#changeAlbumModelHideId").val();
           var formDataTemp = new FormData();
           formDataTemp.append('id',albumId);
           $.ajax({
				  url: "/album/deleteAlbum",
				  type: "POST",
				  data: formDataTemp,
				  processData: false,	
				  contentType: false ,
				  success: function(data){	
					  location.reload();
              }
	  	     });
		});
		
		/* 关注与取消关注相册 */
		$('.albumFoucusButton').click(function(){
				var albumId = $(this).attr('albumId');
				var formDataTemp = new FormData();
            formDataTemp.append('albumId',albumId);
            $.ajax({
				  url: "/album/foucusOnAlbum",
				  type: "POST",
				  data: formDataTemp,
				  processData: false,	
				  contentType: false ,
				  success: function(data){	
					   location.reload(); 
              }
	  	      });
				
		});
		$('.albumCancelFoucusButton').click(function(){
			   var albumId = $(this).attr('albumId');
			   var formDataTemp = new FormData();
	            formDataTemp.append('albumId',albumId);
	            $.ajax({
					  url: "/album/cancelFoucusOnAlbum",
					  type: "POST",
					  data: formDataTemp,
					  processData: false,	
					  contentType: false ,
					  success: function(data){	
						 location.reload();
	              }
		  	   });
		});
		/* 关注与取消关注相册 */
		
		/* 关注与取消关注用户 */
		$('.navFocusOnUserButton').click(function(){
				var albumId = $(this).attr('userId');
				var formDataTemp = new FormData();
            formDataTemp.append('userId',albumId);
            $.ajax({
				  url: "/personalCenter/focusOnUser",
				  type: "POST",
				  data: formDataTemp,
				  processData: false,	
				  contentType: false ,
				  success: function(data){	
					   location.reload(); 
              }
	  	      });
				
		});
		$('.navCancelFocusOnUserButton').click(function(){
			   var albumId = $(this).attr('userId');
			   var formDataTemp = new FormData();
	            formDataTemp.append('userId',albumId);
	            $.ajax({
					  url: "/personalCenter/cancelFocusOnUser",
					  type: "POST",
					  data: formDataTemp,
					  processData: false,	
					  contentType: false ,
					  success: function(data){	
						 location.reload();
	              }
		  	   });
		});
		/* 关注与取消关注用户 */
		
   });
  </script>
</head>
<body>

    <!-- 导航栏 -->
    <nav class="navbar navbar-fixed-top" role="navigation" style="z-index:3" th:if="${myUserDTO!=null}">
        <div class="container">
          <div class="row" style="margin-left:-53px">
              <div class="col-md-5" >
                  <div class="navbar-header">
                      <img id="navLogo" src="./../picture/logo2.png">
                  </div>
                  <ul class="nav navbar-nav">
                      <li><a class="navbar-brand" th:href="'/personalCenter/personalCenterOfAlbum?userId='+${myUserDTO.userId}">SharePicture</a></li>
                      <li><a href="/personalCenter/toHomePage">首页</a></li>
                      <li><a href="/recommend/toRecommendPage">推荐</a></li> 
                      <li><a href="#">●●●</a></li> 
                        
                  </ul>
              </div>
              <div class="col-md-6 col-md-offset-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="noticeIcon">
                          <a id="navPrivateLetterRemindButton"> 
                            <p class="glyphicon glyphicon-bullhorn">    
                            </p>
                            <strong><span id="unReadPrivateLetterNumber"  class="tipIcon"  th:text="${unReadMessageNum}" th:fragment="unReadPrivateLetterNumber">6</span></strong>
                          </a>
                        </li>
                        <li id="navUserPicture" class="dropdown">
                          <a  href="#" class="dropdown-toggle" data-toggle="dropdown"><img  th:src="${myUserDTO.userPicture}"></a>
                          <ul class="dropdown-menu">
			                    <li>
			                    		<li><a id="outLogin" href="#"><span class="glyphicon glyphicon-log-out">&nbsp;</span>退出登录</a></li> 
			                    </li>
			                 </ul>
                        </li>
                   </ul>      
          <div id="navSearch" class="input-group navbar-form">
             <div class="input-group-btn">
              <button id="navSearchChange" type="button" class="btn btn-default 
              dropdown-toggle" data-toggle="dropdown"><span id="navChangeContent">相册</span>
              <span class="caret"></span>
              </button>
              <ul id="navchangeName" class="dropdown-menu">
                <li><a href="#">相册</a></li>
                <li><a href="#">收藏</a></li>
                <li><a href="#">用户</a></li>
              </ul>
            </div>
            <div id="navSearchInput">         
              <input type="text">
              <span class="glyphicon glyphicon-search"></span>
            </div>
            </div>      
          </div>

        </div>
    </nav>


    <!-- 照片加名字 -->
    <div id="pictureAndNamePanel" class="panel panel-default" th:if="${userDTO!=null}">
      <div class="panel-body">
        <div class="container">
           <div class="row">
              <div class="col-md-2">
                <img id="userPicture" class="img-thumbnail" th:src="${userDTO.userPicture}" >
              </div>
              <div id="userName" class="col-md-2">
                <h2><strong th:text="${userDTO.userName}">卢耿杰</strong></h2>
              </div>
              <div id="setting" class="col-md-1 col-md-offset-7">          	
                 <a href="/personalCenter/toUserSetting"><p id="userSetting" th:if="${userDTO.isMyUser==1}" class="glyphicon glyphicon-cog" style="margin-right:-40px;" ></p></a>
                 <div>
		                 <button style="margin-left:-10px" class="navFocusOnUserButton btn btn-default" type="button" th:if="${userDTO.isMyUser ==0 && userDTO.isFocusOn == 0}" th:userId="${userDTO.userId}">关注用户</button>
		                 <button style="margin-left:-10px" class="navCancelFocusOnUserButton btn btn-default" type="button" th:if="${userDTO.isMyUser ==0 && userDTO.isFocusOn == 1}" th:userId="${userDTO.userId}">取消关注</button> 
		                 <div style="margin-right:-48px;margin-top:-38px;font-size:35px;" ><a id="openPrivateLetterModel" th:userId="${userDTO.userId}"><span class="glyphicon glyphicon-envelope" th:if="${userDTO.isMyUser ==0}"></span></a></div>
                 </div>
              </div>
            </div>
            <div  id="fansAndFollow" class="row">
              <div id="fans" class="col-md-1" th:userId="${userDTO.userId}">
              	  <a th:href="'/personalCenter/personalCenterOfFans?userId='+${userDTO.userId}">
                 <strong style="font-size:17px" th:text="${userDTO.fansNumber}">4</strong><br>粉丝
                 </a>
              </div>
              <div id="follow" class="col-md-1" th:userId="${userDTO.userId}">
              	  <a th:href="'/personalCenter/personalCenterOfFocusOnAlbum?userId='+${userDTO.userId}">
                 <strong style="font-size:17px" th:text="${userDTO.focusOnNumber}">4</strong><br>关注
                 </a>
              </div> 
            </div> 
          </div> 
        </div>
      <div id="navTabPanel" class="panel-footer">
           <ul class="nav nav-tabs">
              <li class="active"><a id="toPersonalCenterOfAlbum" data-toggle="tab" href="#albumPage"  th:userId="${userDTO.userId}">相册</a></li>
              <li><a id="toPersonalCenterOfCollect" data-toggle="tab" href="#albumPage" th:userId="${userDTO.userId}">收藏</a></li>
              <li><a id="toPersonalCenterOfLike"  data-toggle="tab" href="#albumPage" th:userId="${userDTO.userId}">喜欢</a></li>
          </ul>
      </div>
     </div>
    

     <!-- 相册组 -->
    <div class="tab-content">
        <div id="albumPage" class="tab-pane fade in active">  
            <div class="container" style="min-height:400px;">
            	<div class="row">
	                <a data-toggle="modal" data-target="#addAlbum" th:if="${userDTO.isMyUser!=0}">
	                    <div class="myPanel">
	                      <div class="outerBorder">
	                          <div class="innerBorder">
	                            <span class="glyphicon glyphicon-plus"></span>
	                            <p>创建相册</p>
	                          </div>
	                      </div>
	                    </div>  
	                 </a>
	         
           			
           	
	                	<div class="myPanel" th:each="album:${albums}" style="position : relative;">
	                		<p class="albumTitleOfPanel" th:text="${album.albumTitle}">开心就好</p>
	                		<p class="albumDescribeOfPanel"  th:text="${album.albumDescribe}"><br><br>这是一张图片</p>
	                		<div class="maskOfPanel" th:albumId="${album.id}">
	                		</div>
	                		<div class="coverPicture">
	                			<img class="albumCoverPicture" th:src="@{${album.coverPictureName}}">
	                		</div> 		
	                		<div th:each="pictureName:${album.pictureNames}" class="littlePicture">
	                			<img class="albumLittlePicture" th:src="@{${pictureName}}">
	                		</div>
	                		<button class="btn albumEditButton" style="width:99%" th:albumId="${album.id}" th:albumTitle="${album.albumTitle}" th:albumClassification="${album.albumClassification}" th:albumDescribe="${album.albumDescribe}" th:if="${album.isMyAlbum==1}">编辑</button>
	                		<button class="btn albumCancelFoucusButton" style="width:99%" th:albumId="${album.id}" th:if="${album.isMyAlbum==0&&album.isFocusOn==1}">取消关注</button>
	                		<button class="btn albumFoucusButton" style="width:99%" th:albumId="${album.id}" th:if="${album.isMyAlbum==0&&album.isFocusOn==0}">关注相册</button>
	                	</div>

                	
               </div>
            </div>
        </div>


       
        <div id="menu2" class="tab-pane fade">
            <h3>菜单 2</h3>
            <p>这是菜单 2 显示的内容。这是菜单 2 显示的内容。这是菜单 2 显示的内容。</p>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>菜单 3</h3>
            <p>这是菜单 3 显示的内容。这是菜单 3 显示的内容。这是菜单 3 显示的内容。</p>
        </div>
  </div>


   <!-- 添加相册模态框 -->
	<div class="modal fade" id="addAlbum" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title" id="myModalLabel">新建相册</h4>
	            </div>
	            <div class="modal-body">
	                <form id="addAlbumForm" role="form" action="/album/addAlbum" method="post">
	                    <div class="form-group">
	                        <input name="albumTitle" type="text" class="form-control input-lg"  placeholder="相册标题，不能超过32个字符"> 
	                    </div>
	                    <div class="form-group">
	                        <select  name="albumClassification" class="form-control input-lg">
	                            <option>UI/UX</option>
	                            <option>平面</option>
	                            <option>插画/漫画</option>
	                            <option>家居/家装</option>
	                            <option>女装</option>
	                            <option>男士/风尚</option>
	                            <option>婚礼</option>
	                            <option>工业设计</option>
	                            <option>摄影</option>
	                            <option>造型/美妆</option>
	                            <option>美食</option>
	                            <option>旅游</option>
	                            <option>手工/布艺</option>
	                            <option>健身/舞蹈</option>
	                            <option>儿童</option>
	                            <option>美图</option>
	                            <option>明星</option>
	                            <option>美女</option>
	                            <option>礼物</option>
	                            <option>极客</option>
	                            <option>动漫</option>
	                            <option>建筑设计</option>
	                            <option>人文艺术</option>
	                            <option>数据图</option>
	                            <option>游戏</option>
	                            <option>汽车/摩托</option>
	                            <option>电影/图书</option>
	                            <option>生活百科</option>
	                            <option>教育</option>
	                            <option>运动</option>
	                        </select> 
	                    </div>   
	                </form>    
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	                <button id="addAlbumButton" type="button" class="btn btn-primary">创建相册</button>
	            </div>
	        </div>
	    </div>
	</div>
	
  <!-- 修改相册模态框 -->
  <div class="modal fade" id="changeAlbumModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">修改相册</h4>
              </div>
              <div class="modal-body">
                  <form id="changeAlbumForm" class="form-horizontal" role="form" action="/album/changeAlbum" method="post">
                  	 <input id="changeAlbumModelHideId" name="id" style="display:none">
                      <div class="form-group">
                          <label  class="col-sm-2 control-label text-muted">标题</label>
                          <div class="col-sm-10">
                              <input id="albumTitle" name="albumTitle" type="text" class="form-control">
                          </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label text-muted">描述</label>
                        <div class="col-sm-10">
                            <textarea id="albumDescribe" name="albumDescribe" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label text-muted">分类</label>
                        <div class="col-sm-10">
                            <select id="albumClassification"  name="albumClassification" class="form-control input-lg">
                              <option>UI/UX</option>
                              <option>平面</option>
                              <option>插画/漫画</option>
                              <option>家居/家装</option>
                              <option>女装</option>
                              <option>男士/风尚</option>
                              <option>婚礼</option>
                              <option>工业设计</option>
                              <option>摄影</option>
                              <option>造型/美妆</option>
                              <option>美食</option>
                              <option>旅游</option>
                              <option>手工/布艺</option>
                              <option>健身/舞蹈</option>
                              <option>儿童</option>
                              <option>美图</option>
                              <option>明星</option>
                              <option>美女</option>
                              <option>礼物</option>
                              <option>极客</option>
                              <option>动漫</option>
                              <option>建筑设计</option>
                              <option>人文艺术</option>
                              <option>数据图</option>
                              <option>游戏</option>
                              <option>汽车/摩托</option>
                              <option>电影/图书</option>
                              <option>生活百科</option>
                              <option>教育</option>
                              <option>运动</option>
                          </select> 
                        </div>
                    </div>
                  </form>                  
              </div>
              <div class="modal-footer">
                  <p id="deleteAlbumButton">删除相册</p>
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  <button id="changeAlbumButton" type="button" class="btn btn-primary">确定</button>
              </div>
          </div>
      </div>
  </div>
  
 <!-- 私信模态框 -->
 <div class="modal fade" id="privateLetter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <span>私信</span>
            </div>
            <div id="showPrivateLetterPanel" class="modal-body" style="overflow-y:scroll; width:596px;background-color: #ebebeb;height: 400px">
            	
            </div>
            <div class="modal-footer">
               	 <textarea id="privateLetterText" class="form-control"></textarea><br>
                <button id="privateLetterButton" type="button" class="btn btn-danger" disabled="disabled">发送私信</button>
            </div>
        </div>
    </div>
 </div>
  
  
 <!-- 私信提醒模态框 -->
 <div class="modal fade" id="privateLetterRemind" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <span>未读信息</span>
            </div>
            <div id="showPrivateLetterRemindPanel" class="modal-body" style="overflow-y:scroll; width:596px;height: 400px">
            <ul class="list-group">
				    		   
				</ul>
            </div>
        </div>
    </div>
  </div> 
 

</body>
</html>