<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"> 
  <title>personalCenter</title>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./../css/background-blur.css">
   <link rel="stylesheet" href="./../css/bubble.css">
  <link rel="stylesheet" href="./../css/navigation.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="./../js/background-blur.min.js"></script>
  <script src="./../js/index.js"></script>
  <script src="./../js/navigation.js"></script>
  <style>
     /* div { border:1px solid black;} */
    /*防止打开模态框时页面抖动*/
	.modal-open{overflow-y: scroll;}
    body{ padding-right:1px!important;background-color:#f5f5f5;}
    .myPanel {cursor: pointer;width:18.54%; height:326px;text-align: center;padding:10px;margin-left:16px;margin-bottom:16px;float:left;background-color:white;}
   
   /* 用户面板 */
    .userPanel {width:19%; height:326px;text-align: center;margin-left:9.5px;float:left;z-index:-3}
    .underUserPicture{background-color:white;height:165px;margin-top:-10px;padding-top:13px}
	 .focusOnUserButton{margin-top:10px;width:94%;background-color:#ededed}
	 .cancelFocusOnUserButton{margin-top:10px;width:94%;background-color:#ededed}
	 .accountSettingButton{margin-top:10px;width:94%;background-color:#ededed}
	
  </style>
  <script type="text/javascript">
      $(document).ready(function(){

    	  
     	   /*点击导航按钮进行跳转*/
    	    /* 关注与取消关注用户 */
    		$('.focusOnUserButton').click(function(){
    				var albumId = $(this).attr('userId');
    				var formDataTemp = new FormData();
                formDataTemp.append('userId',albumId);
                $.ajax({
    				  url: "/personalCenter/focusOnUser",
    				  type: "POST",
    				  data: formDataTemp,
    				  processData: false,	
    				  contentType: false ,
    				  success: function(data){	
    					   location.reload(); 
                  }
    	  	      });
    				
    		});
    		$('.cancelFocusOnUserButton').click(function(){
    			   var albumId = $(this).attr('userId');
    			   var formDataTemp = new FormData();
    	            formDataTemp.append('userId',albumId);
    	            $.ajax({
    					  url: "/personalCenter/cancelFocusOnUser",
    					  type: "POST",
    					  data: formDataTemp,
    					  processData: false,	
    					  contentType: false ,
    					  success: function(data){	
    						 location.reload();
    	              }
    		  	   });
    		});
    		/* 关注与取消关注用户 */
    		/* 关注与取消关注用户 */
    		$('.navFocusOnUserButton').click(function(){
    				var albumId = $(this).attr('userId');
    				var formDataTemp = new FormData();
                formDataTemp.append('userId',albumId);
                $.ajax({
    				  url: "/personalCenter/focusOnUser",
    				  type: "POST",
    				  data: formDataTemp,
    				  processData: false,	
    				  contentType: false ,
    				  success: function(data){	
    					   location.reload(); 
                  }
    	  	      });
    				
    		});
    		$('.navCancelFocusOnUserButton').click(function(){
    			   var albumId = $(this).attr('userId');
    			   var formDataTemp = new FormData();
    	            formDataTemp.append('userId',albumId);
    	            $.ajax({
    					  url: "/personalCenter/cancelFocusOnUser",
    					  type: "POST",
    					  data: formDataTemp,
    					  processData: false,	
    					  contentType: false ,
    					  success: function(data){	
    						 location.reload();
    	              }
    		  	   });
    		});
    		/* 关注与取消关注用户 */
   });
  </script>
</head>
<body>

     <!-- 导航栏 -->
    <nav class="navbar navbar-fixed-top" role="navigation" style="z-index:3" th:if="${myUserDTO!=null}">
        <div class="container">
          <div class="row" style="margin-left:-53px">
              <div class="col-md-5" >
                  <div class="navbar-header">
                      <img id="navLogo" src="./../picture/logo2.png">
                  </div>
                  <ul class="nav navbar-nav">
                      <li><a class="navbar-brand" th:href="'/personalCenter/personalCenterOfAlbum?userId='+${myUserDTO.userId}">SharePicture</a></li>
                      <li><a href="/personalCenter/toHomePage">首页</a></li>
                      <li><a href="/recommend/toRecommendPage">推荐</a></li> 
                      <li><a href="#">●●●</a></li> 
                        
                  </ul>
              </div>
              <div class="col-md-6 col-md-offset-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="noticeIcon">
                          <a id="navPrivateLetterRemindButton"> 
                            <p class="glyphicon glyphicon-bullhorn">    
                            </p>
                            <strong><span id="unReadPrivateLetterNumber"  class="tipIcon"  th:text="${unReadMessageNum}" th:fragment="unReadPrivateLetterNumber">6</span></strong>
                          </a>
                        </li>
                        <li id="navUserPicture" class="dropdown">
                          <a  href="#" class="dropdown-toggle" data-toggle="dropdown"><img  th:src="${myUserDTO.userPicture}"></a>
                          <ul class="dropdown-menu">
			                    <li>
			                    		<li><a id="outLogin" href="#"><span class="glyphicon glyphicon-log-out">&nbsp;</span>退出登录</a></li> 
			                    </li>
			                 </ul>
                        </li>
                   </ul>      
          <div id="navSearch" class="input-group navbar-form">
             <div class="input-group-btn">
              <button id="navSearchChange" type="button" class="btn btn-default 
              dropdown-toggle" data-toggle="dropdown"><span id="navChangeContent">相册</span>
              <span class="caret"></span>
              </button>
              <ul id="navchangeName" class="dropdown-menu">
                <li><a href="#">相册</a></li>
                <li><a href="#">收藏</a></li>
                <li><a href="#">用户</a></li>
              </ul>
            </div>
            <div id="navSearchInput">         
              <input type="text">
              <span class="glyphicon glyphicon-search"></span>
            </div>
            </div>      
          </div>

        </div>
    </nav>



 	  <div id="focusOnUserPage" class="tab-pane fade in active">
     <div class="container" style="width:1270px;min-height:400px;margin-left:45px;margin-top:70px">
            <div class="row" th:if="${userDTOs!=null}">
            
            		<div class="userPanel" th:each="userDTO:${userDTOs}">
            		   <div class="avatar-holder">
	                       <div class="avatar-container" >
		                      <div class="avatar">
			                      <a th:href="'/personalCenter/personalCenterOfAlbum?userId='+${userDTO.userId}"><img th:src="${userDTO.userPicture}"></a>
		                      </div>
	                        </div>
                     </div>
                     <div class="underUserPicture">
                        <h4><a th:href="'/personalCenter/personalCenterOfAlbum?userId='+${userDTO.userId}"><strong th:text="${userDTO.userName}">路过年过节</strong></a></h4>
                         <hr style="border:1px solid #ededed;width:100px"/>
                        <div style="color:#a5a5a5;font-size:15px">                 
                        	<span th:text="${userDTO.fansNumber}">111</span><span>粉丝</span>&nbsp;
                           <span th:text="${userDTO.collectionNumber}">111</span><span>收藏</span>
                        </div>
                        <div>
                        	<button class="focusOnUserButton btn btn-default" type="button" th:if="${userDTO.isMyUser ==0 && userDTO.isFocusOn == 0}" th:userId="${userDTO.userId}">关注用户</button>
                           <button class="cancelFocusOnUserButton btn btn-default" type="button" th:if="${userDTO.isMyUser ==0 && userDTO.isFocusOn == 1}" th:userId="${userDTO.userId}">取消关注</button>
                           <button class="accountSettingButton btn btn-default" type="button" th:if="${userDTO.isMyUser ==1}">账号设置</button>
                        </div>
                     </div>
            		</div>
            		
            </div>
     </div>
     </div>
     
  

    
    


<!-- 私信模态框 -->
 <div class="modal fade" id="privateLetter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <span>私信</span>
            </div>
            <div id="showPrivateLetterPanel" class="modal-body" style="overflow-y:scroll; width:596px;background-color: #ebebeb;height: 400px">
            	
            </div>
            <div class="modal-footer">
               	 <textarea id="privateLetterText" class="form-control"></textarea><br>
                <button id="privateLetterButton" type="button" class="btn btn-danger" disabled="disabled">发送私信</button>
            </div>
        </div>
    </div>
 </div>
  
  
 <!-- 私信提醒模态框 -->
 <div class="modal fade" id="privateLetterRemind" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <span>未读信息</span>
            </div>
            <div id="showPrivateLetterRemindPanel" class="modal-body" style="overflow-y:scroll; width:596px;height: 400px">
            <ul class="list-group">
				    		   
				</ul>
            </div>
        </div>
    </div>
  </div> 
    
</body>
</html>